*.tmproj
log
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
db/schema.rb
*.swp
coverage
sms_webservice.log
public/javascripts/*_minified_js.js
public/javascripts/service/onesearch*
public/stylesheets/*_min.css
public/sitemap*
nbproject
config/database.yml
tmp/restart.txt
spec/fixtures/refinements.yml
.ackrc

